<!-- <input type="text" [(ngModel)]="message" placeholder="your message..."> -->


<app-drawing-canvas>

</app-drawing-canvas>

<mat-sidenav-container [hasBackdrop]="false" style="z-index: 1050;  position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;">

  <!-- UTILITY MENU -->
  <mat-sidenav #sidenav style="    background: black;">
    <div class="container">
      <div style="padding-top: 10px; padding-right: 20px;display: inline-block;">
        <ol style="list-style: none;">
          <mat-slide-toggle color="accent" style="color:green" style="transform: scale(2); margin-left: 74px;" (toggleChange)="flyToBinToggle()" [checked] = "flyToBinChecked"
          [disabled] = "flyToBinButtonDisabled"></mat-slide-toggle>
          <li class="menu-item" style="color: white;">
            Go To Nearest Bin On Click
           </li>
           <mat-slide-toggle color="accent" style="color:green" style="transform: scale(2); margin-left: 74px;margin-top:10px" (toggleChange)="hideDistanceToggle()" [checked] = "!hideDistance"
          ></mat-slide-toggle>
          <li class="menu-item" style="color: white;">
            Show Distance Calculation
           </li>
          <li class="menu-item">
            <button class="btn btn-danger" (click)="getNearestRoskis()">Get Nearest Roskis</button>
          </li>
          <li class="menu-item">
            <button class="btn btn-warning" (click)="flyToUser()">Back To User</button>
          </li>
          <li class="menu-item">
            <button class="btn btn-secondary" (click)="flyToCurrentRoskis()">Fly To the Nearest Roskis</button>
          </li>
          <li class="menu-item">
            <button class="btn btn-info" (click)="cameraMovement()">Rotate Camera</button>
          </li>
          <!-- <li class="menu-item">
            <button class="btn btn-success" (click)="applyWaypoints()">Get Route With Waypoints</button>
          </li> -->
        </ol>
      </div>

      <div class="outer-point">
        <app-hamburger-menu class="burgermenu1" (click)="burgerTime()"  [isClosed]="burgertime" style="flex: auto;display: inline-block;"></app-hamburger-menu>
      </div>


    </div>



  </mat-sidenav>

  <!-- WAYPOINT MENU -->
  <mat-sidenav #sidenav1 mode="side" position="start" role="navigation" class="sidenav-wv" style="
  z-index: 999;
  visibility: visible;
  top: 24vh;    background: black;">
    <div class="container" style="min-width: 220px;    max-width: 296px;">
      <div style="padding-top: 10px; padding-right: 20px;display: inline-block;">
        <ol style="list-style: none;">
          <li class="menu-item">
            <button class="btn btn-success" [disabled]="waypoints.length < 1" style="min-width: 190px;" (click)="applyWaypoints()">Get Route With Waypoints</button>
          </li>
          <li class="menu-item">
            <button style="min-width: 190px;" class="btn btn-warning" (click)="flyToUser()">Back To User</button>
          </li>
          <li style="max-width: 230px;" class="menu-item" *ngFor="let waypoint of waypoints; index as i" >
            <button style="max-width: 60px; margin-left: 5px !important;margin-right: 5px !important;" class="btn btn-success" (click)="getToWaypoint(i)">Get To waypoint</button>
            <button style="max-width: 60px; margin-left: 5px !important;margin-right: 5px !important;" class="btn btn-danger" (click)="deleteWaypoint(i)">Delete Waypoint</button>
          </li>
          <!-- <li class="menu-item">
            <button class="btn btn-warning" (click)="flyToUser()">Back To User</button>
          </li>
          <li class="menu-item">
            <button class="btn btn-secondary" (click)="flyToCurrentRoskis()">Fly To the Nearest Roskis</button>
          </li>
          <li class="menu-item">
            <button class="btn btn-info" (click)="cameraMovement()">Rotate Camera</button>
          </li>
          <li class="menu-item">
            <button class="btn btn-success" (click)="applyWaypoints()">Get Route With Waypoints</button>
          </li> -->
        </ol>
      </div>

      <div class="outer-point2">
        <app-drawing-menu class="burgermenu2" (click)="burgerTime2()"  [isClosed]="burgertime2" style="flex: auto;display: inline-block;"></app-drawing-menu>
      </div>
<!--
      <div class="outer-point2">
        <app-hamburger-menu class="burgermenu2" (click)="burgerTime2()"  [isClosed]="burgertime2" style="flex: auto;display: inline-block;"></app-hamburger-menu>
      </div> -->


    </div>
  </mat-sidenav>

  <!-- PAINTING MENU -->
  <mat-sidenav #sidenav2 mode="side" position="start" role="navigation" class="sidenav-wv" style="
  z-index: 999;
  visibility: visible;
  top: 29vh !important;    background: black;">
    <div class="container" style="min-width: 220px;    max-width: 296px;">
      <div style="padding-top: 10px; padding-right: 20px;display: inline-block;">
        <ol style="list-style: none;">
          <!-- <li class="menu-item">
            <button class="btn btn-success" [disabled]="waypoints.length < 1" style="min-width: 190px;" (click)="applyWaypoints()">Get Route With Waypoints</button>
          </li>
          <li class="menu-item">
            <button style="min-width: 190px;" class="btn btn-warning" (click)="flyToUser()">Back To User</button>
          </li> -->
          <!-- <li style="max-width: 230px;" class="menu-item" *ngFor="let waypoint of waypoints; index as i" >
            <button style="max-width: 60px; margin-left: 5px !important;margin-right: 5px !important;" class="btn btn-success" (click)="getToWaypoint(i)">Get To waypoint</button>
            <button style="max-width: 60px; margin-left: 5px !important;margin-right: 5px !important;" class="btn btn-danger" (click)="deleteWaypoint(i)">Delete Waypoint</button>
          </li> -->
          <!-- <li class="menu-item">
            <button class="btn btn-warning" (click)="flyToUser()">Back To User</button>
          </li>
          <li class="menu-item">
            <button class="btn btn-secondary" (click)="flyToCurrentRoskis()">Fly To the Nearest Roskis</button>
          </li>
          <li class="menu-item">
            <button class="btn btn-success" (click)="applyWaypoints()">Get Route With Waypoints</button>
          </li>-->
          <li class="menu-item">
            <button class="btn btn-info">Dummy</button>
          </li>
          <li class="menu-item">
            <button class="btn btn-info">Dummy</button>
          </li>
          <li class="menu-item">
            <button class="btn btn-info">Dummy</button>
          </li>
          <li class="menu-item">
            <button class="btn btn-info">Dummy</button>
          </li>
          <li class="menu-item">
            <button class="btn btn-info">Dummy</button>
          </li>
          <li class="menu-item">
            <button class="btn btn-info">Dummy</button>
          </li>
        </ol>
      </div>

      <div class="outer-point3">
        <app-painting-menu class="burgermenu3" (click)="burgerTime3()"  [isClosed]="burgertime3" style="flex: auto;display: inline-block;"></app-painting-menu>
      </div>
<!--
      <div class="outer-point2">
        <app-hamburger-menu class="burgermenu2" (click)="burgerTime2()"  [isClosed]="burgertime2" style="flex: auto;display: inline-block;"></app-hamburger-menu>
      </div> -->


    </div>
  </mat-sidenav>

  <mat-sidenav-content>



    <!-- The circle that follows mousepointer -->
<!-- <div class="cursor"></div> -->

<div>

<!-- buttons -->
  <!-- <div  style="z-index: 11;position: absolute;display: flex;flex-direction: column-reverse;bottom: 1em;">


    <nav class="menu">
      <ol>
        <li class="menu-item">
          <button class="btn btn-danger" (click)="getNearestRoskis()">Get Nearest Roskis</button>
        </li>
        <li class="menu-item">
          <button class="btn btn-warning" (click)="flyToUser()">Back To User</button>
        </li>
        <li class="menu-item">
          <button class="btn btn-secondary" (click)="flyToCurrentRoskis()">Fly To the Nearest Roskis</button>
        </li>
        <li class="menu-item">
          <button class="btn btn-info" (click)="cameraMovement()">Rotate Camera</button>
        </li>
      </ol>
     </nav>
  </div> -->

  <div class="box">
    <div #mapdiv ></div>
  </div>

<div style="z-index: 10;" class="map" id="map">



</div>

</div>
<div class="heading" (click)="burgerTime()"  ><!-- *ngIf="distanceToRoskis > 6" -->
  <app-distance [distance]="distance" [digit]="digit" [duration]="duration" [destination]="destination" [hideDistance]="hideDistance"></app-distance>
</div>

</mat-sidenav-content>
</mat-sidenav-container>


<!-- <button class="btn btn-info" hidden (click)="makeObject()">New objectArray</button>
<button class="btn btn-info" hidden (click)="sendToSpace()">Send to Cloud</button> -->
<!-- This button triggers the overlay and is it's origin -->
<!-- <button (click)="isOpen = !isOpen" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
  {{isOpen ? "Close" : "Open"}}
</button> -->

<!-- This template displays the overlay content and is connected to the button -->


<!-- this is to upload data -->
<!-- <ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <ul class="example-list">
    <li>  coordinates  </li>
    <li><input type="file" name="input"
      id="input"></li>
    <li><textarea cols="30" rows="20"
              placeholder="text will appear here">
    </textarea></li>
    <li>End of Coordinates</li>
  </ul>
</ng-template> -->


 <!-- <div *ngFor="let marker of markersToDisplay"> | async
  <button class="btn btn-primary" (click)="flyTo(marker)">{{ marker.properties.message }}</button>
  <button class="btn btn-success" (click)="getRoute(marker.geometry.coordinates)">Route to: {{ marker.properties.message }}</button>
  <button class="btn btn-warning" (click)="removeMarker(marker)">Delete</button>
</div>
-->

<!--

<div class="row row-map">
  <div class="col-md-9">
      <h2 class="heading">Map</h2>
      <hr/>
    <div id="map"></div>
  </div>
  <div class="col-md-3 info-container">
    <div id="run-info">
      <h2 class="heading">Run Data</h2>
      <hr/>
      <div class="data-heading">Route Name:</div>
      <p class="data-entry">{{ activityName }}</p>
      <hr/>

      <div class="data-heading">Date:</div>
      <p class="data-entry">{{ activityDate | date:"longDate" }} <p>
      <hr/>

      <div class="data-heading">Total Distance:</div>
      <p class="data-entry">{{ activityDistance }} miles</p>
      <hr/>

      <div class="data-heading">Comments:</div>
      <p class="data-entry">{{ activityComments }}</p>
      <hr/>
    </div>
  </div>
</div> -->


